<html>
  include "../partials/head.html"
  <body class="acumin archive-body">
    
    
    <div class="news-screen-big">
      <div class="color">
        <h1>Archive</h1>
        <a class="archive-link" href="../index.html">Return to Main Site</a>
        <ul>
          {{LINKS}}
        </ul>
      </div>
    </div>
    
    <div class="footer acumin">
      <p>© Copyright Mac Tíre and Unmute Records 2016</p>
      
      <div class="social-media-footer">
       include "../partials/social_media.html"
      </div>
      
      <div class="footer-nav">
        <a class="archive-link" href="../index.html">Return to Main Site</a>
      </div>
    </div>
    
  </body>
</html>