<div class="news-post">
  <h1 class="acumin">Test Title 4</h1>
  <p class="acumin date">4</p>
  <p class="acumin body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec...</p>
  <a class="acumin" href="news/4.html">Read More</a>
</div>


<div class="news-post">
  <h1 class="acumin">Test Title 3</h1>
  <p class="acumin date">3</p>
  <p class="acumin body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec...</p>
  <a class="acumin" href="news/3.html">Read More</a>
</div>


<div class="news-post">
  <h1 class="acumin">Test Title 2</h1>
  <p class="acumin date">2</p>
  <p class="acumin body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec...</p>
  <a class="acumin" href="news/2.html">Read More</a>
</div>


