<div class="news-post">
  <h1 class="acumin">The Best Thing Released</h1>
  <p class="acumin date">02/05/2016</p>
  <p class="prox body">NEW RELEASE! Mac Tíre’s new single, “The Best Thing”, is now available on Spotify and Soundcloud! We all hope you enjoy this track and look forward too more content from Mac Tíre....</p>
  <a class="acumin" href="news/4.html">Read More</a>
</div>


<div class="news-post">
  <h1 class="acumin">Unmute Records Interviews Mac Tíre</h1>
  <p class="acumin date">29/04/2016</p>
  <p class="prox body">Learn more about Unmute Record's new talented artist Mac Tíre in this new video interview, filmed in the Belfast Metropolitan College studio! A Full transcription of the interview can also be found below:    Tell us more about yourself…  “I'm a town boy from Bangor. My family took me camping sinc...</p>
  <a class="acumin" href="news/3.html">Read More</a>
</div>


<div class="news-post">
  <h1 class="acumin">The Best Thing Photoshoot</h1>
  <p class="acumin date">28/04/2016</p>
  <p class="prox body">Unmute Records and Mac Tire recently met up and took some pictures leading up to the launch of his new single, “The Best Thing”.  More pictures and media content coming very soon!  Check out the pictures on the Unmute Records Facebook Page....</p>
  <a class="acumin" href="news/2.html">Read More</a>
</div>


