<div class="news-post">
  <h1 class="acumin">Unmute Records Interviews Mac Tíre</h1>
  <p class="acumin date">29/04/2016</p>
  <p class="prox body">Learn more about Unmute Record's new talented artist Mac Tíre in this new video interview, filmed in the Belfast Metropolitan College studio! A Full transcription of the interview can also be found below:    Tell us more about yourself…  “I'm a town boy from Bangor. My family took me camping sinc...</p>
  <a class="acumin" href="news/3.html">Read More</a>
</div>


<div class="news-post">
  <h1 class="acumin">The Best Thing Photoshoot</h1>
  <p class="acumin date">28/04/2016</p>
  <p class="prox body">Unmute Records and Mac Tire recently met up and took some pictures leading up to the launch of his new single, “The Best Thing”.  More pictures and media content coming very soon!  Check out the pictures on the Unmute Records Facebook Page....</p>
  <a class="acumin" href="news/2.html">Read More</a>
</div>


<div class="news-post">
  <h1 class="acumin">Introducing Mac Tíre</h1>
  <p class="acumin date">01/04/2016</p>
  <p class="prox body">Unmute Records are pleased to announce that they are now working with Mac Tíre. Mac Tíre is a 22 year-old singer/songwriter from Bangor, Northern Ireland. Mac Tíre’s main influences are The Paper Kites, Ben Howard, Tom Odell, The Kooks & Cage the Elephant. Mac Tíre has been honing his art since 2...</p>
  <a class="acumin" href="news/1.html">Read More</a>
</div>


